@import url('https://use.typekit.net/ntw7erw.css');

$dark: #0F0F0F;
$light: #FDFDFD;

$light-grey: #f7f7f7;
$medium-grey: #bfbfbf;

$primary: #FFFA00;
$dark-primary: #FFCE0D;
$secondary: darkblue;

$breakpoint-tablet: 860px;
$breakpoint-mobile: 680px;