@import "../../assets/scss/base";

main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;

    @include breakpoint('small') {
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 50vh;
    }

    @include breakpoint('medium') {
        grid-template-columns: 25vw 25vw 50vw;
        grid-template-rows: 50vh 50vh;
    }
}

.title__container {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
}

.content__container {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    position: relative;
    display: flex;
}

.slider__container {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    position: relative;
    overflow: hidden;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 120px;

    .active__line {
        width: 90px;
        height: 2px;
        background: $dark;
        position: absolute;
        left: 0;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
    }

    .control__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        font-size: 20px;
        padding: 0 0 0 40px;
        cursor: pointer;
    }

    .control__item--active {
        .active__line {
            transform: translateX(0);
        }
    }
}

.content {
    width: calc(100% - 120px);
    position: relative;

    .item {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px;
    }

    .item__title {
        font-size: 85px;
        line-height: 100px;
        font-weight: bold;
    }

    .item__subtitle {
        font-size: 18px;
        line-height: 36px;
        color: $secondary;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.slider__container {
    .slider {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}